h1{
    font-weight: bold;
    color: brown;
    text-align: center;
}

body{
    background-color: burlywood;
}

div.lacarta{
    position: relative;
    left: 550px;
}

div.cafe{
    position: relative;
    left: 825px;
}

div.contacto{
    position: relative;
    left: 1100px;
}

